.chat-side
  .chat-side__header
    .chat-side__header__list
      .chat-side__header__list__user-name
        = current_user.name
      .chat-side__header__list__menu
        .chat-side__header__list__menu__top-items
          = link_to "#" do
            = icon('fas', 'edit')
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .chat-side__body
    =link_to "#", class:"body" do
      .chat-side__body__group
        %p.chat-side__body__group__name
          test
        %p.chat-side__body__group__latest-message
          まだメッセージはありません
