.chat-side
  .chat-side__header
    .chat-side__header__list
      .chat-side__header__list__user-name
        = current_user.name
      .chat-side__header__list__menu
        .chat-side__header__list__menu__top-items
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'icon')
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .chat-side__body
    - current_user.groups.each do |group|
      .chat-side__body__group
        = link_to group_messages_path(group) do
          %p.chat-side__body__group__name
            = group.name
          %p.chat-side__body__group__latest-message
            = group.show_last_message
